node_modules
*.png
*.eps
*.webp
*.jpg
dist
_site
.DS_Store
rm src/.DS_Store
.vscode

.wireit

# icon folders
microns
standard
social
ui
!src/**/*
icons.ts
icons.d.ts
icons.js
icons.js.map
metadata.ts
metadata.d.ts
metadata.js
metadata.js.map
